// common 

* {
  all: unset;
}

window {
  background-color: #101010;
  font-family: JetBrainsMono Nerd Font;
}

// imports

@import "profile/profile.scss";

@import "weather/weather.scss";

@import "clock/clock.scss";

@import "apps/apps.scss";

@import "quotes/quotes.scss";

@import "sysinfo/sysinfo.scss";

@import "powermenu/powermenu.scss";
