// credits - rxhyn (orignal code), dochi77(modifications)

*{
  all: unset;
}

// colors

$background: #15191c;
$foreground: #859390;
$foreground2: #5A6B78;

$black: #181818;
$gray: #252B31;
$red: #F7768E;
$red2: #FF3131;
$green: #467875;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;

all {
  font-family: JetBrainsMono Nerd Font
}

// EWW BAR
.eww_bar{
  background-color: $background;
  border-radius: 1em;
}

// Launcher
.launcher_icon{
    color: $foreground;
    font-size: 2.2em;
    padding-left: 2px;
}

// Workspaces
.works {
border-radius: 12px;
padding: 0px 0 0px 0;
}

.0 , .01, .02, .03, .04, .05, .06,
.011, .022, .033, .044, .055, .066{
  padding-bottom: 1px;
  padding-left: 1px;
}

/* Unoccupied */
.0 {
color: $gray;
}

/* Occupied */
.01, .02, .03, .04, .05, .06 {
  color: $foreground2;
}

/* Focused */
.011,
.022,
.033,
.044,
.055,
.066 {
  color: $foreground2;
}

.0:nth-child(1),
.0:nth-child(3){
  font-size: 1.1em;
}
.0:nth-child(2){
  font-size: 1.1em;
}
.0:nth-child(4),
.0:nth-child(5){
  font-size: 1.1em;
}
.0:nth-child(6){
  font-size: 1.1em;
}
.01,
.011,
.03,
.033{
  font-size: 1.1em;
}
.02,
.022{
  font-size: 1.1em;
}
.04,
.05,
.044,
.055{
  font-size: 1.1em;
}
.06,
.066{
  font-size: 1.1em;
}

// Clock
.time {
  font-weight: bold;
  font-size: 1.1em;
  color: $foreground;
  padding-top: 5px;
  padding-bottom: 3px;
}

// Calendar
.cal-box {
  background-color: $background;
  font-size: 1em;
  font-weight: bold;

  .cal-inner-box {
      padding: 1rem 1rem .2rem;

      .cal {
          &.highlight {
              padding: 10rem;
          }

          padding: .8rem .25rem 0rem;
          margin-left: 10px;
      }
  }
}

calendar:selected {
  color: $foreground;
}

calendar.header {
color: $foreground;
font-weight: bold;
}

calendar.button {
color: $foreground;
}

calendar.highlight {
color: $foreground;
font-weight: bold;
}

calendar:indeterminate {
color: $gray;
}

// Powermenu
.powermenu {
  font-family: feather;
  font-size: 1.3em;
  font-weight: bold;
}

.powermenu button:hover {
  color: $red;
  transition: ease 0.5s;

}

.button-bspres, .button-reb, .button-lock,
.button-quit, .button-off{
  padding: 2px 1px 4px 1px;
}
.button-off{
  margin-bottom: .5rem;
  color: $red;
}

.button-bspres{
  color: $foreground;
}
.button-reb{
  color: $foreground
}
.button-quit{
  color: $foreground;
}
.button-lock{
  color: $foreground;
}

