$background: #101010;
$foreground: #f0f0f0;

.music-player{
	background-color: $background;
	padding: 0 1.5rem 1rem 1.5rem;
	// border-radius: 12px;
	// margin: .5rem;
}
.album_art {
	background-size: cover;
	background-position: center;
  // min-height: 300px;
  // min-width: 100px;
	border-radius: 12px;
	margin: 2rem 1rem 1.5rem 1rem;
	padding: 7rem;
}

.artist {
	font-family: JetBrainsMono Nerd Font;
	font-style: italic;
	font-weight: bold;
	color: $foreground;
	font-size : 1.2em;
}
.song{
	font-family: JetBrainsMono Nerd Font;
	font-style: italic;
	font-size: 1.1em;
	color: $foreground;
	margin-top: -5px;
}

.spotify-controls button {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 1.2em;
  color: $foreground;
}

.controls button:hover {
  color: #ffffff;
  transition: ease 0.5s;
}

.btn_prev, .btn_play, .btn_next {
	font-family: JetBrainsMono Nerd Font;
  padding: 10px;
}
.btn_prev {
	color: $foreground;
	font-size : 2.4em;
}
.btn_play {
	color: $foreground;
	font-size : 2.4em;
	font-weight : bold;
}
.btn_next {
	color: $foreground;
	font-size : 2.4em;
}

// .metric-player {
//   padding-top: 9px;
// }
.metric-player  scale trough highlight {
	all: unset;
	border-radius: 10px;
	background-color: $foreground;
}
  
.metric-player scale trough  {
	all: unset;
	background-color: $background;
	border:2px solid $foreground;
	border-radius: 50px;
  }
  
.metric-player scale trough  {
	min-width: 200px;
	min-height: 10px;
	// margin: .5rem 1rem 0 1rem;
}

* {
  all: unset;
}




