$foreground: #f0f0f0;

.applications{
	color: $foreground;
	border-radius: 16px;
	margin: .5rem;
	// padding: 1rem;
}
.app-firefox,
.app-reddit,
.app-telegram,
.app-github,
.app-code,
.app-youtube,
.app-spotify{
	padding: 10px;
  padding-right: 22px;
}
.app-firefox,
.app-youtube{
	font-family: JetBrainsMono Nerd Font;
	font-size: 2.9em;
}

.app-code,
.app-reddit,
.app-telegram,
.app-github,
.app-spotify{
	font-family: JetBrainsMono Nerd Font;
	font-size: 2.9em;
}
.app-code{
	font-size: 3.1em;
  padding-left: 17px;
}
.app-spotify{
	font-size: 3.4em;
  padding-left: 15px;
}
