
.time{
	color: #f0f0f0;
	margin: .5rem;
	padding: 0 8.6rem 0 8.6rem;
	border-radius: 12px;
}
.hour, .min, .separator-clock{
	padding: 1rem 0 0 0;
	font-weight: bold;
	font-size: 2.5em;
}
.separator-clock{
	margin-top: -5px;
}
.day{
	padding: .5rem;
	font-size: 1.2em;
}
