$foreground: #f0f0f0;

* {
  all: unset;
}

.quote{
	// background-color: $background;
	border-radius: 16px;
}
.quote-text{
	font-family: JetBrainsMono Nerd Font;
	// padding: 2.4rem .5rem 1rem .5rem;
	font-size: 1.3em;
	color: $foreground;
  padding-top: 40px;
}
.quote-author{
	font-family: JetBrainsMono Nerd Font;
	font-style: italic;
  font-weight: lighter;
	font-size: 1.1em;
	color: $foreground;
  padding-top: 40px;
	// margin-top: 1.7rem;
}
