

.weather-icon {
  font-size: 120px;
  margin: 0px 0px 0px 40px;
}
.weather-stat {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: bold;
  color: #f0f0f0;
}

.temperature {
  font-size: 48px;
  font-weight: 500;
  padding-left: 105px;
}
// .weather-quote {
//   margin: 5px 10px 10px 10px;
//   font-size: 16px;
// }
.weather-quote-head, .weather-quote-tail {
  font-size: 14px;
  font-weight: lighter;
  font-style: oblique;
}
