*{
  all: unset;
}


*{
  font-family: JetBrainsMono Nerd Font;
}

// Colors - customize to your liking

$background: #15191C;
$background-light: #21282d;
$foreground: #859390;
$foreground-dark: #55596d;
$cyan: #93cee9;
$cyan2: #afcee0;
$cyan3: #a1bdce;
$green: #90ceaa;

.panel {
  background-color: $background;
  color: $foreground;
  border-radius: 14px;
}

// Time and Date

.time{
	color: $foreground;
}
.hour{
	margin: 0.8rem 0 0 0rem;
	font-weight: bold;
	font-size: 3.8em;
}

.day{
	font-size: 1.2em;
	// margin-left: 1.1rem;
}

// Calender

.cal-box {
  font-size: 1em;
  border-radius: 10px;
  color: $foreground;
  margin: 10px 0px 12px 0px;
  // background-image: linear-gradient(to right, $cyan2 30%, $cyan3 50%, $cyan 100% *50);

}
.cal {
    border-radius: 10px;
    // padding: 1em;
    background-color: $background-light;
    padding: .5em .58em 0em;


}

calendar:selected {
  color: $cyan;
}

calendar.header {
  color: $background-light;
}

calendar.button {
  color: $foreground-dark;
}

calendar.highlight {
  color: $foreground;
  font-weight: bold;
}

calendar:indeterminate {
  color: $foreground-dark;
}

// Music

.music-art-box {
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 200px;
	min-height: 120px;
	border-radius: 10px;
	background-position: center;
	margin: 0.1em 0 0 0;
}

.music-title {
	font-size: 1.38em;
	font-weight: bold;
	color: $foreground;
	margin: 0.4em 0px 0px 0.8em;
}

.music-artist {
	font-size: 1em;
	color: $foreground;
	margin: 0px 0px 0px 1em;
}

.music-time {
	font-size: 1em;
	font-weight: 500;
	margin: 0px 0px 0.66em 1.1em;
	color: $foreground;
}

.music-stuff-box {
	// min-height: 150px;
	border-radius: 12px;
	background: linear-gradient(to right, rgb(25, 25, 25, 0.7), rgba(38, 38, 38, .1));
}

.metric-player{
  margin: 5em 0 0 0;
}
.metric-player  scale trough highlight {
	all: unset;
	// background-color: $cyan;
  background-image: linear-gradient(to right, $cyan2 30%, $cyan3 50%, $cyan 100% *50);
}
  
.metric-player scale trough  {
	all: unset;
	background-color: $background;
  }
  
.metric-player scale trough  {
	min-width: 23.1em;
	min-height: 3px;
}

.controls {
  margin: 0.4em 0 0 0;
}

.music-time {
	font-size: 1em;
	font-weight: 500;
	margin: 0px 0px 0.66em 1.1em;
	color: $foreground;
}

.buttons {
  margin: 0 0 0.05em 10em;
}

.btn_prev {
	color: $foreground;
	font-size : 1.5em;
}
.btn_play {
	color: $foreground;
	font-size : 1.3em;
	font-weight : bold;
}
.btn_next {
	color: $foreground;
	font-size : 1.5em;
}

// Profile

.user {
  margin-top: 1.1em;
}

.weather {
  margin: 0em 4.5em 0 0;
  padding: 0.3em 1.2em 0.3em 1.2em;
  background: $background-light;
  border-radius: 14px;
}
.temp {
  font-size: 1.07em;
  // margin-top: 1em;
}

.feels {
  font-size: 0.8em;
  color: $foreground-dark;
}

.info {
  margin-left: 3.5em;
}

.pfp {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  min-width: 40px;
  min-height: 40px;
  margin-top: 0em;
}

.username {
  font-size: 1.1em;
  margin-top: 0.6em;
}

.uptime {
  font-size: 0.8em;
  color: $foreground-dark;
}

