$foreground: #f0f0f0;

.iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 2em;
}
.iconcpu {
	color: $foreground;
  padding-top: 0px;
}
.iconmem {
	color: $foreground;
}
.iconbright {
	color: $foreground;
}
.iconbat {
	color: $foreground;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	all: unset;
	background-color: #2C2C2C;
	border-radius: 16px;
	min-height: 10px;
	min-width: 200px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}
.cpu_bar{
  padding-top: 5px;
}
.bat_bar{
  padding-bottom: 7px;
}
.cpu_bar scale trough highlight {
	background-color: $foreground;
}
.mem_bar scale trough highlight {
	background-color: $foreground;
}
.bright_bar scale trough highlight {
	background-color: $foreground;
}
.bat_bar scale trough highlight {
	background-color: $foreground;
}
