


.pfp {
  background-image: url("/home/dochi77/.config/eww/dashboard/profile/pfp2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  background-position: center;
  min-height: 220px;
  min-width: 220px;
  margin-left: 30px;
  margin-top: 47px;
}
.pfptxt {
  margin-top: 20px;
  margin-left: 10px;
  color: #f0f0f0;
  font-size: 33px;
}
.subpfptxt {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 19px;
  color: #D2DAF4
}
